<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/public/images/promer.png" height="25px;"/></a>
		</div>

		<div class="collapse navbar-collapse" id="navbar-collapse-1">

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-bar-chart-o fa-fw"></i> <span class="hidden-xs hidden-sm">Vers 1 </span><span class="glyphicon glyphicon-chevron-down"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="@{Application.insanEklemeFormuV1()}">İnsan Ekle</a>
						</li>
						<li>
							<a href="@{Application.insanListeleV1()}">İnsan Listele</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="hidden-xs hidden-sm">Vers 2 <span class="glyphicon glyphicon-chevron-down"></span></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="@{Application.insanlar()}">İnsanlar</a>
						</li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Yan Menu 1
					</a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Yan Menu 2
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li>
							<a href=".">Alt Menu 1</a>
						</li>
						<li>
							<a href=".">Alt Menu 2</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
